<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <br>

    <form action = 'http://127.0.0.1:8000/patientName' >
       <button type="submit" class="btn btn-success">HOME</button>
    </form>
    </br>
    <h2>The medician is avilable in the fallowing medical stores: </h2><br>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name Of Medical</th>
          <th scope="col">Phone No.</th>
          <th scope="col">Open Time</th>
          <th scope="col">Close Time</th>
          <th scope="col">Address </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Huma Medical</th>
            <td>0217 231 5969</td>
            <td>10:00 AM </td>
            <td>10:00 PM </td>
            <td>171, Rupa Bhavani Rd, South Sadar Bazar, Jawaharlal Housing Society, Keshav Nagra, Solapur, Maharashtra 413003</td>
        </tr>
        <tr>
          <th scope="row">Shree Medical </th>
            <td>0217 231 5342</td>
            <td>8:00 AM </td>
            <td>11:00 PM </td>
            <td>AAsra chok, Kumte, Solapur, Maharashtra 413224</td>
        </tr>
        <tr>
          <th scope="row">Tosh Medical </th>
            <td>8806708888</td>
            <td>12:00 AM </td>
            <td>3:00 PM </td>
            <td>Dhankawadi Rd, Kundan Nagar, Gulab Nagar, Pratibha Nagar, Dhankawadi, Pune, Maharashtra 411043 </td>
        </tr>
    </tbody>
  </table>

  </body>
</html>